@model Project.Models.Data.Kitap

@{
    ViewBag.Title = "Details";
}

<div class="text-center">
    <h2>Detay</h2>

    <div class="mx-auto col-md-6">
        <h4>Kitap</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Ad)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.YasAraligiBaslangic)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.YasAraligiBaslangic)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.YasAraligiBitis)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.YasAraligiBitis)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PopulerMi)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PopulerMi)
            </dd>
        </dl>
    </div>

    <p>
        @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Geri Dön", "Index", new { @class = "btn btn-secondary" })
    </p>
</div>

